@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "variables";
@import "navbar";
@import "footer";

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  // display: flex;
  // flex-flow: column nowrap;
  // height: 100vh;
}

.about{
  padding: 100px 0;
  background-color: $white;
}

.section-title{
  color: $primary;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 12px;
  /* align-items: center; */
}

.section-divider{
  width:90px;
  height: 4px;
  background: #5c5c5c;
  margin: 0 auto 40px;
}

.section-description{
  max-width: 750px;
  margin: 0 auto;
  color: #6f6f6f;
  font-size: 20px;
  line-height: 2;
  font-weight: 400;
}

.card p{
  max-height: 80px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 20px;
}

.card p.expand{
  max-height: 500px;
}

.swiper{
  width: 100%;
  height: 100%;
}

.mySwiper {
  .swiper-button-next{
    color: #d6cfcf;
  }
  .swiper-button-prev{
    color: #d6cfcf;
  }
  .swiper-slide{
    padding: 20px 70px;

    i{
      font-size: 2rem;
      color: $primary; 
    }

    p {
      color: $gray;
    }

    .name{
      color: $primary;
      font-weight: bold;
    }
  }
}

.wrapper-margin{
  margin-bottom: 3rem;
}

.testimonial{
  margin-top: 20px;
}

.news{
  height: 800px;
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
}

.mycontainer{
  width: 100%;
  height: auto;
}

iframe{
  width: 100%;
  height: 450px;
  border: 0;
  margin: 0;
}